@import "tailwindcss";

body {
  background-color: #1B1E28;
  color: #A6ACCD;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #292C35;
}

body::-webkit-scrollbar-thumb {
  background-color: #404452;
}

@theme {
  --color-pm: #1B1E28;
  --color-sd: #292C35;
  --color-txtGray: #A6ACCD;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
