@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-pm text-zinc-300 overflow-y-scroll;
  }
  ::-webkit-scrollbar {
    @apply w-[10px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-sd;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#404452];
  }
}
